src/inadyn
*~
#*#
*.o
.deps
aclocal.m4
autom4te.cache
compile
config.log
config.status
config.guess
config.sub
config.h*
configure
depcomp
include/stamp-h1
INSTALL
install-sh
missing
Makefile
Makefile.in
plugins/.dirstamp
