Source: inadyn
Section: net
Priority: optional
Maintainer: Joachim Nilsson <troglobit@gmail.com>
Build-Depends: debhelper (>= 9), dh-systemd, gnutls-dev
Standards-Version: 3.9.6
Homepage: http://troglobit.com/inadyn.html
Vcs-Git: git://github.com/troglobit/inadyn.git
Vcs-Browser: http://github.com/troglobit/inadyn

Package: inadyn
Architecture: any
Pre-Depends: adduser
Depends: debconf (>= 0.2.17), ${shlibs:Depends}, ${misc:Depends}
Provides: dyndns-client
Description: Small and simple DDNS client with HTTPS support
 Commonly available in many GNU/Linux distributions, Inadyn is used in
 off-the-shelf routers and Internet gateways to automate the task of
 keeping your DNS record up to date with any IP address changes from
 your ISP. It can also be used in installations with redundant (backup)
 connections to the Internet.
 .
 Inadyn can maintain multiple host names with the same IP address, and
 has a web based IP detection which runs well behind a NAT router.
 .
 The following DDNS providers are supported natively, other providers,
 like http://twoDNS.de for instance, can be supported using the generic
 DDNS plugin.
 .
   * http://www.dyndns.org, <http://www.dyn.com>
   * https://freedns.afraid.org
   * https://www.zoneedit.com
   * http://www.no-ip.com
   * http://www.easydns.com
   * http://www.tzo.com
   * http://www.3322.org
   * https://www.dnsomatic.com
   * http://dns.he.net/
   * http://www.tunnelbroker.net
   * http://www.dynsip.org
   * http://www.sitelutions.com
   * http://www.dnsexit.com
   * http://www.changeip.com
   * http://www.zerigo.com
   * http://www.dhis.org
   * https://nsupdate.info
   * https://duckdns.org
   * <https://www.loopia.com>
   * <https://www.namecheap.com>
   * <https://domains.google.com>
   * <https://www.ovh.com>
   * <https://www.dtdns.com>
   * <http://giradns.com>
   * <https://www.duiadns.net>
   * <https://ddnss.de>
   * <http://dynv6.com>
   * <http://ipv4.dynv6.com>
   * <https://spdyn.de>
   * <https://www.strato.com>
 .
 Some of these services are free of charge for non-commercial use, others
 take a small fee, but also provide more domains to choose from.
