Source: inadyn
Section: net
Priority: optional
Maintainer: Joachim Nilsson <troglobit@gmail.com>
Build-Depends: debhelper (>= 9), dh-systemd, libgnutls28-dev
Standards-Version: 3.9.6
Homepage: http://troglobit.com/inadyn.html
Vcs-Git: git://github.com/troglobit/inadyn.git
Vcs-Browser: http://github.com/troglobit/inadyn

Package: inadyn
Architecture: any
Pre-Depends: adduser
Depends: debconf (>= 0.2.17), ${shlibs:Depends}, ${misc:Depends}
Provides: dyndns-client
Description: Internet automated Dynamic DNS client
 Inadyn is a small and simple Dynamic DNS, DDNS, client with HTTPS
 support.  It automates the task of keeping your Internet name in sync
 with your public IP address.
 .
 Most people are unaware they share a pool of Internet addresses with
 other users of the same Internet Service Provider (ISP).  Protocols
 like DHCP, PPPoE, or PPPoA are used to give you an address and a way
 to connect to the Internet, but usually not a way for others to connect
 to you.  If you want to run an Internet server on such a connection you
 risk losing your IP address every time you reconnect.
 .
 The following DDNS plugins are supported natively, other providers,
 like <http://twoDNS.de> for instance, can be set up with the custom
 DDNS plugin:
 .
   * <http://www.dyndns.org>, <http://www.dyn.com>
   * <https://freedns.afraid.org>
   * <https://www.zoneedit.com>
   * <http://www.no-ip.com>
   * <http://www.easydns.com>
   * <http://www.3322.org>
   * <https://www.dnsomatic.com>
   * <http://dns.he.net>
   * <http://www.tunnelbroker.net>
   * <http://www.dynsip.org>
   * <http://www.sitelutions.com>
   * <http://www.dnsexit.com>
   * <http://www.changeip.com>
   * <http://www.zerigo.com>
   * <http://www.dhis.org>
   * <https://nsupdate.info>
   * <https://duckdns.org>
   * <https://www.loopia.com>
   * <https://www.namecheap.com>
   * <https://domains.google.com>
   * <https://www.ovh.com>
   * <https://www.dtdns.com>
   * <http://giradns.com>
   * <https://www.duiadns.net>
   * <https://ddnss.de>
   * <http://dynv6.com>
   * <http://ipv4.dynv6.com>
   * <https://spdyn.de>
   * <https://www.strato.com>
   * <https://freemyip.com>
   * <https://www.cloudxns.net>
   * <https://www.dnspod.cn>
 .
 Some of these services are free of charge for non-commercial use, others
 take a small fee, but also provide more domains to choose from.
