#!/usr/bin/make -f
# export DH_VERBOSE=1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@ --with=systemd

override_dh_installchangelogs:
	dh_installchangelogs ChangeLog.md

override_dh_auto_install:
	dh_auto_install
	rm -f debian/inadyn/usr/share/doc/inadyn/COPYING
	rm -f debian/inadyn/usr/share/doc/inadyn/ChangeLog.md
